<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload | VISULY</title>

    <link rel="stylesheet" href="../files/css/main.css">

    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../files/js/upload.js" defer></script>
</head>

<body>
    <header>
        <div id="header-logo">VISULY</div>
        <div id="header-search">
            <form action="search.php" autocomplete="off">
                <input type="text" placeholder="Search" name="search" id="header-searchbar" maxlength="2048">
                <button type="submit" id="header-search-submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div id="header-user">
            <div id="header-user-img">
                <img src="../files/img/users/user.svg" alt="User" id="header-user-icon">
            </div>
        </div>

        <div id="header-dropdown">
            <a href="myuser.php">
                <div>
                    <div class="header-dropdown-image">
                        <img src="../files/img/users/user.svg" alt="user">
                    </div>
                    <div class="header-dropdown-text">
                        <p>Profile</p>
                    </div>
                </div>
            </a>
            <a href="settings.php">
                <div>
                    <div class="header-dropdown-image">
                        <img src="../files/img/settings.svg" alt="settings">
                    </div>
                    <div class="header-dropdown-text">
                        <p>Settings</p>
                    </div>
                </div>
            </a>
            <a href="logout.php">
                <div>
                    <div class="header-dropdown-image"></div>
                    <div class="header-dropdown-text txt-red">
                        <p>Log out</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- header script -->
        <script>
            let headerDropDownIsDisplayed = false;

            document.getElementById("header-user-icon").addEventListener("click", () => {
                if (headerDropDownIsDisplayed) {
                    document.getElementById("header-dropdown").style.display = "none";
                } else {
                    document.getElementById("header-dropdown").style.display = "block";
                }

                headerDropDownIsDisplayed = !headerDropDownIsDisplayed;
            });
        </script>
    </header>

    <main>
        <nav>
            <a href="../index.php">
                <div>
                    <div class="nav-img">
                        <img src="../files/img/home.svg" alt="Home">
                    </div>
                    <div class="nav-txt">
                        <p>Home</p>
                    </div>
                </div>
            </a>
            <a href="../discover.php">
                <div>
                    <div class="nav-img">
                        <img src="../files/img/discover.svg" alt="Home">
                    </div>
                    <div class="nav-txt">
                        <p>Discover</p>
                    </div>
                </div>
            </a>
            <a href="upload.php" id="nav-active">
                <div>
                    <div class="nav-img">
                        <img src="../files/img/add.svg" alt="Home">
                    </div>
                    <div class="nav-txt">
                        <p>Upload</p>
                    </div>
                </div>
            </a>
        </nav>

        <div id="content">
            <div id="upload-header">
                <h2>Create a post</h2>
            </div>

            <!-- https://css-tricks.com/examples/DragAndDropFileUploading/ -->
            <div id="upload-main">
                <form id="upload">
                    <div id="upload-file" ondrop="drop(event);" ondragover="dragOverHandler(event);">
                        <div id="file-upload">
                            <div id="upload-file-img-wrapper">
                                <div>
                                    <img src="../files/img/upload.svg" id="upload-icon" alt="Upload Icon">
                                </div>

                            </div>

                            <input type="file" id="file"  accept="image/png, image/jpeg, image/gif">
                            <label for="file" id="file-label">
                                <strong>Choose a file</strong>
                                <span>or drag it here</span>
                            </label>
                        </div>
                        <div id="file-display">
                            <img src= "" id="img-prev" alt="Uploaded Image">
                        </div>
                    </div>
                    <div id="upload-inputs">
                        <div>
                            <label for="upload-title">Title</label>
                            <br>
                            <input type="text" name="upload-title" placeholder="Title" id="upload-title"
                                autocomplete="off">
                        </div>

                        <div>
                            <label for="upload-description">Description</label>
                            <br>
                            <textarea id="upload-description" name="upload-description" autocomplete="off"
                                placeholder="Description"></textarea>
                        </div>

                        <div>
                            <label for="upload-category">Category</label>
                            <br>
                            <input id="upload-category" name="upload-category" autocomplete="off" placeholder="Category"
                                multiple list="upload-category-list">

                            <datalist id="upload-category-list">
                                <option value="test1">Test1</option>
                                <option value="test2">Test2</option>
                                <option value="test3">Test3</option>
                                <option value="test4">Test4</option>
                                <option value="test5">Test5</option>
                                <option value="test6">Test6</option>
                            </datalist>
                        </div>

                        <div>
                            <label for="upload-location">Location</label>
                            <br>
                            <input id="upload-location" name="upload-location" autocomplete="off" placeholder="Location"
                                list="upload-location-list">

                            <datalist id="upload-location-list">
                                <option value="loc1">Location 1</option>
                                <option value="loc2">Location 2</option>
                                <option value="loc3">Location 3</option>

                            </datalist>
                        </div>

                        <p id="upload-error"></p>

                        <div id="upload-submit-wrapper">
                            <button type="submit">Upload</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

        <div></div>
    </main>

</body>

</html>