:root {
    --color: rgb(0, 0, 0);
    --colorA: #cad2c5;
    --colorB: #84a98c;
    --colorC: #52796f;
    --colorD: #354f52;
    --colorE: #2f3e46;
    --searchPlaceholder: rgb(214, 214, 214);
    --defaultBg: #fff;
    --likeColor: #A41C1C;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: architect;
    src: url(../fonts/ArchitectsDaugther-Regular/ArchitectsDaughter-Regular.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Arial, serif;
    color: var(--color);
    background-color: var(--defaultBg);
    overflow-x: hidden;
    height: 100vh !important;
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2%;
}

.txt-red {
    color: #ff0000;
}

/************************************************ HEADER ************************************************/

header {
    background-color: var(--colorD);
    height: 5vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 0.4vh 4%;
    position: static;
}

#header-logo {
    font-family: architect, Calibri, Arial, serif;
    font-size: 3.5vh;
    color: var(--color);
    text-decoration: none;
}

#header-user-img {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#header-user-img img {
    width: 3vh;
    height: 3vh;
    display: block;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
}

#header-dropdown {
    position: absolute;
    right: 0.5vw;
    top: 6.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5vh;
    display: none;
    background-color: var(--defaultBg);
}

#header-dropdown > a:first-child {
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

#header-dropdown > a:last-child {
    border-bottom-right-radius: 0.5vh;
    border-bottom-left-radius: 0.5vh;
}

#header-dropdown > a {
    height: 7vh;
    display: block;
    color: var(--color);
    text-decoration: none;
    transition: background-color linear 0.2s;
}

#header-dropdown > a:hover {
    background-color: var(--colorA);
}

#header-dropdown > a > div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-left: 2vw;
}

.header-dropdown-text {
    padding: 0 0 0 10%;
    display: flex;
    align-items: center;
}

.header-dropdown-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.header-dropdown-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#header-user-icon:hover {
    cursor: pointer;
}

/************************************************ HEADER ************************************************/

#header-search form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-search input[type="text"] {
    width: 90%;
    height: 70%;
    padding: 0.5vh 0.5vh 0.5vh 2%;
    font-size: 1.5vh;
    border: none;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-top-left-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

#header-search input[type="text"]::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--searchPlaceholder);
    opacity: 1; /* Firefox */
}

#header-search input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--searchPlaceholder);
}

#header-search input[type="text"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--searchPlaceholder);
}

#header-search input:focus {
    border: none;
    outline: none;
}

#header-search button {
    height: 70%;
    width: 10%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
}

#header-search button:hover,
#header-search input[type="text"]:hover {
    cursor: pointer;
}

/************************************************ NAV ************************************************/
#nav-active {
    color: var(--colorC); /* For some reason not working */
}

nav > a {
    height: 7vh;
    display: block;
    color: var(--color);
    transition: background-color linear 0.2s;
}

nav > a:hover {
    background-color: var(--colorA);
}

nav > a > div {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    padding-left: 2vw;
}

.nav-txt {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.nav-txt p {
    padding: 0;
    margin: 0;
}

.nav-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.nav-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/************************************************ CONTENT ************************************************/

#content {
    width: 100%;
}

/************************************************ POST ************************************************/

.post-3-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3%;
    height: 100%;
    margin-bottom: 5vh;
}

.post-3-wrapper > div {
    box-sizing: border-box;
}

.post {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    margin: 2vh 0;
    border-radius: 0.5vh;
}

.post:hover {
    cursor: pointer;
}

.post-single:hover {
    cursor: auto !important;
}

.post-header {
    padding-left: 1.5%
}

.post-user-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 75% 20%;
    color: var(--color);
    text-decoration: none;
}

.post-user-image {
    padding: 10%;
    display: flex;
    align-items: center;
}

.post-user-image img {
    width: 100%;
    height: auto;
    font-size: 0;
    clip-path: circle(50% at 50% 50%);
}

.post-user-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-size: 1.2rem;
}

.post-title-wrapper {
    margin: 0 0 1vh 0;
}

.post-title-wrapper h3 {
    font-size: 1.5rem;
    margin: 0;
}

.post-title-wrapper h3:hover {
    cursor: pointer;
}

.post-single h3:hover {
    cursor: auto;
}

/*
* POST-BODY
*/

.post-body {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.post-img-wrapper img{
    width: 100%;
    height: auto;
}

.post-interaction-wrapper {
    height: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.post-interaction-wrapper > div {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 80%;
}

.post-interaction-wrapper > div:hover {
    cursor: pointer;
}

.post-interaction-imgwrapper {
    display: flex;
    align-items: center;
}

.post-interaction-imgwrapper img{
    width: 100%;
    height: auto;
    font-size: 0;
}

.post-interaction-textwrapper {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.post-interaction-textwrapper p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
}

.post-descr {
    margin: 1vh 0;
}

.post-descr p {
    margin: 0;
    overflow-wrap: anywhere;
}

/************************************************ POST COMMENTS ************************************************/

/*comment post section*/

.comment-post-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10% 0;
    padding-bottom: 2vh;
}

.comment-post-user-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

#comment-overlay {
    height: 100% !important;
    width: 100%;
    background-color: red;
    opacity: 0.5;
    position: relative;
}

.comment-post-user-wrapper img {
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}

.comment-post-wrapper textarea {
    width: 100%;
    height: 5vh;
    margin: 1vh 0;
    padding-left: 2%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 0.5vh;
    box-sizing: border-box;
    font-family: Poppins, serif;
    resize: none;
    padding-top: 1.4vh;
    line-height: 20px;
    min-height: 44px;
}

.comment-post-wrapper textarea:focus {
    outline: none;
    border: rgba(0, 0, 0, 0.4) solid 1px;
}

.comment-form-button-wrapper {
    display: flex;
    justify-content: right;
}

.comment-form-button-wrapper button {
    padding: 0.8vh 0.8vw;
    border-radius: 0.5vh;
    outline: none;
    border: none;
    transition: background-color linear 0.2s;
    font-size: 1.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.button-hoverable:hover {
    background-color: var(--colorD) !important;
    color: var(--defaultBg);
    cursor: pointer;
}

.cancel-hoverable:hover {
    cursor: pointer;
    background-color: var(--colorD) !important;
    color: var(--defaultBg);
}

#comment-button {
    /*background-color: var(--colorB); done via JS*/
}

.comment-button-spacer {
    width: 1vw;
}

/* Comments */

.comment {
    display: grid;
    grid-template-columns: 10% 90% 10%;
    margin: 2vh 0;
}

.comment-user-wrapper {
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.comment-user-wrapper img {
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}

.comment-user-wrapper img:hover {
    cursor: pointer;
}

.comment-content-wrapper p {
    margin: 0
}

.comment-content-wrapper a {
    margin-bottom: 0.5vh;
    color: var(--colorC);
}

.comment-content-wrapper a:hover {
    color: var(--colorD);
    cursor: pointer;
}
/************************************************ USER ************************************************/

#user {
    margin-top: 4vh;
}

/** USER-HEADER **/

#user-header {
    display: flex;
    height: 30vh;
}

#user-header-pfp  {
    display: flex;
    align-items: baseline;
    width: 40vh;
}

#user-header-pfp img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    clip-path: circle(50% at 50% 50%);
}

#user-header-info {
    width: 100%;
    padding-left: 5%;
    display: grid;
    grid-template-rows: 30% 70%;
}

#user-info-username {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-info-username h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

#user-advancedInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/************************************************ UPLOAD ************************************************/

#upload-header {
    text-align: center;
}

/**
UPLOAD FILE 
**/

#upload-file {
    width: 80%;
    background-color: var(--colorA);
    margin: 0 auto 5vh auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.3s;
}

.upload-filehover {
    background-color: var(--colorD) !important;/* Important so that it gets displayed */
    color: var(--defaultBg);
}

#upload-file-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

#upload-file-img-wrapper > div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-file-img-wrapper > img {
    width: 100%;
    height: auto;
    opacity: 80%;
}

#upload input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

#file-label strong:hover {
    color: var(--colorC);
    cursor: pointer;
}

/**
FILE DISPLAY (after drag and dropping or selecting)
**/

#file-display {
    display: none;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}

#file-display img {
    height: auto;
    max-height: 100% !important;
    max-width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .09);
}

/**
INPUTS 
**/

#upload-inputs {
    width: 60%;
    margin: 0 auto;
}

#upload-inputs > div {
    margin: 0 0 1vh 0;
}

#upload-inputs > div input, #upload-inputs > div textarea {
    width: 100%;
    height: 4vh;
    margin: 1vh 0;
    padding-left: 2%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 0.5vh;
    box-sizing: border-box;
    font-family: Poppins, serif;
}

#upload-inputs > div textarea {
    height: 8vh;
    resize: none;
    padding: 0.8em 1em;
}

#upload-inputs > div input:focus, #upload-inputs > div textarea:focus {
    outline: none;
    border: rgba(0, 0, 0, 0.4) solid 1px;
}

#upload-submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#upload-inputs button {
    text-align: center;
    padding: 1vh 2vw;
    outline: none;
    border: none;
    border-radius: 0.5vh;
    transition: background-color linear 0.2s;
    font-size: 1.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--colorA);
    margin-bottom: 5vh
}

#upload-inputs button:hover {
    background-color: var(--colorD);
    color: var(--defaultBg);
    cursor: pointer;
}

#upload-error {
    color: #ff0000;
}

/************************************************ SETTINGS ************************************************/


#settings-main {
    grid-template-columns: 22% 60% 18%;
}

#content-hidden {
    display: none;
    height: 0;
}

.setting-form-80 {
    width: 80%;
}

#setting-nav a:hover {
    cursor: pointer;
}

/** Input elements **/

#current-setting-wrapper input[type=text], #current-setting-wrapper input[type=email], #current-setting-wrapper input[type=password] {
    width: 80%;
    height: 4vh;
    margin: 1vh 0;
    padding-left: 2%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 0.5vh;
    box-sizing: border-box;
}

#current-setting-wrapper input:focus {
    outline: none;
    border: rgba(0, 0, 0, 0.4) solid 1px;
}

/** Buttons **/
.settings-form-buttons {
    padding: 2vh 0;
}

.settings-form-buttons > * {
    margin: 0 0.3vh;
}

.settings-form-buttons > *:first-child {
    margin: 0 0.3vh 0 0;
}

.settings-form-buttons > *:last-child {
    margin: 0 0 0 0.3vh;
}

.settings-form-buttons button {
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 0.5vh;
    outline: none;
    border: none;
    transition: background-color linear 0.2s;
    font-size: 1.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.settings-form-buttons button[type="submit"] {
    background-color: var(--colorA)
}

.settings-form-buttons button:enabled:hover {
    cursor: pointer;
    background-color: var(--colorD);
    color: var(--defaultBg);
}

/** Edit User */

#settings-profile-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

#settings-user-profilepic {
    position: relative;
}

#settings-userpfp-wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 3vh;
    position: absolute;
}

#settings-userpfp-wrapper img {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    width: 100%;
    height: auto;
}

#settings-editoverlay {
    width: 60%;
    margin: 0 auto;
    margin-top: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#settings-editoverlay img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-radius: 100%;
}

#settings-userpfp-wrapper:hover  + #settings-editoverlay {
    display: block;
}

/** Change Password */

#password-error {
    display: none;
}