:root {
    --color: #000;
    --colorA: #cad2c5;
    --colorB: #84a98c;
    --colorC: #52796f;
    --colorD: #354f52;
    --colorE: #2f3e46;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: architect;
    src: url(../fonts/ArchitectsDaugther-Regular/ArchitectsDaughter-Regular.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    color: var(--color);
}

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2%;
}

.txt-red {
    color: #ff0000;
}

/************************************************ HEADER ************************************************/

header {
    background-color: var(--colorD);
    height: 5vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 0.4vh 4%;
}

#header-logo {
    font-family: architect;
    font-size: 3.5vh;
}

#header-user-img {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#header-user-img img {
    width: 3vh;
    height: 3vh;
    display: block;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
}

#header-dropdown {
    position: absolute;
    right: 0.5vw;
    top: 6.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5vh;
    display: none;
}

#header-dropdown > a:first-child {
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

#header-dropdown > a:last-child {
    border-bottom-right-radius: 0.5vh;
    border-bottom-left-radius: 0.5vh;
}

#header-dropdown > a {
    height: 7vh;
    display: block;
    color: var(--color);
    text-decoration: none;
    transition: background-color linear 0.2s;
}

#header-dropdown > a:hover {
    background-color: var(--colorA);
}

#header-dropdown > a > div {
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    padding-left: 2vw;
}

.header-dropdown-text {
    padding: 0 0 0 10%;
}

.header-dropdown-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.header-dropdown-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#header-user-icon:hover {
    cursor: pointer;
}

/************************************************ NAV ************************************************/
#nav-active {
    color: var(--colorC); /* For some reason not working */
}

nav > a {
    height: 7vh;
    display: block;
    color: var(--color);
    transition: background-color linear 0.2s;    
}

nav > a:hover {
    background-color: var(--colorA);
}

nav > a > div {
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    padding-left: 2vw;
}

.nav-txt {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.nav-txt p {
    padding: 0;
    margin: 0;
}

.nav-img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.nav-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
